In [78]:
import pandas as pd

# Clean Death and Stats

In [90]:
deathstats = pd.read_csv("deaths_and_stats.csv")

In [91]:
columns_list = deathstats.columns.to_list()

In [92]:
new_list = []
for i in columns_list:
    i = str(i).replace(" Killed by Police (1/1/2013-12/31/2019)","")
    i = str(i).replace(" (if reported by agency)","")
    new_list.append(i)

In [93]:
deathstats.columns = new_list

In [94]:
deathstats.fillna(0,inplace=True)

In [95]:
new_list = new_list[3:]
for i in new_list:
    deathstats[i] = deathstats[i].apply(lambda x: str(x).replace(",",""))

In [96]:
for i in new_list:
    deathstats[i] = deathstats[i].apply(lambda x: int(round(float(x))))

In [98]:
deathstats.to_csv("Clean Death And Stats.csv")

In [103]:
deathstats.head()

,State,City,PD,Black People,Hispanic People,Native American People,Asian People,Pacific Islanders,White People,Unknown Race People,...,Violent crimes 2015,Violent crimes 2016,Violent crimes 2017,Violent crimes 2018,2013 Total Arrests (UCR Data),2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests
0,New Mexico,Albuquerque,Albuquerque Police Department,3,18,0,0,0,10,1,...,5406,6245,7686,7646,27700,25447,22126,20341,21130,22254
1,California,Anaheim,Anaheim Police Department,3,7,0,0,0,3,0,...,1271,1209,1253,1192,7891,8137,8381,9415,8869,10019
2,Alaska,Anchorage,Anchorage Police Department,1,1,2,0,0,5,4,...,3226,3422,3564,3824,17601,14748,14387,13294,13871,13973
3,Texas,Arlington,Arlington Police Department,7,1,0,1,0,4,1,...,1946,2188,0,1784,17258,16222,13989,11024,8397,9566
4,Georgia,Atlanta,Atlanta Police Department,13,0,0,0,0,1,1,...,5203,5121,4504,3814,30505,26958,0,22161,22581,0

# Clean Education Census Bureau

In [99]:
file = pd.read_csv("education_census_bureau.csv")

In [100]:
file.head()

,id,Geographic Area Name,Margin of Error!!Percent MOE!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Estimate!!Male!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Margin of Error!!Male MOE!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Estimate!!Percent Male!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Margin of Error!!Percent Male MOE!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Estimate!!Female!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Margin of Error!!Female MOE!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Estimate!!Percent Female!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,...,Margin of Error!!Male MOE!!Population 25 years and over!!Population 35 to 44 years,Estimate!!Percent Male!!Population 25 years and over!!Population 35 to 44 years,Margin of Error!!Percent Male MOE!!Population 25 years and over!!Population 35 to 44 years,Estimate!!Female!!Population 25 years and over!!Population 35 to 44 years,Margin of Error!!Female MOE!!Population 25 years and over!!Population 35 to 44 years,Estimate!!Percent Female!!Population 25 years and over!!Population 35 to 44 years,Margin of Error!!Percent Female MOE!!Population 25 years and over!!Population 35 to 44 years,Estimate!!Total!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Margin of Error!!Total MOE!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher,Estimate!!Percent!!Population 25 years and over!!Population 35 to 44 years!!High school graduate or higher
0,310M400US10100,"Aberdeen, SD Micro Area",2.3,2187,107,92.7,3.2,2219,104,96.9,...,107,(X),(X),2290,119,(X),(X),4406,161,94.8
1,310M400US10140,"Aberdeen, WA Micro Area",2.6,3990,176,88.7,3.5,3206,142,84.6,...,97,(X),(X),3789,67,(X),(X),7196,237,86.8
2,310M400US10180,"Abilene, TX Metro Area",1.5,9040,270,86.8,2.0,8101,201,90.2,...,181,(X),(X),8982,109,(X),(X),17141,357,88.3
3,310M400US10220,"Ada, OK Micro Area",2.0,1868,68,89.2,2.9,2091,83,92.1,...,46,(X),(X),2270,63,(X),(X),3959,113,90.7
4,310M400US10260,"Adjuntas, PR Micro Area",6.0,675,90,67.5,9.0,883,108,78.1,...,*****,(X),(X),1131,*****,(X),(X),1558,128,73.1

In [102]:
len(file.columns.to_list())

770