In [2]:
import pandas as pd

# Clean Death and Stats

In [90]:
deathstats = pd.read_csv("deaths_and_stats.csv")

In [91]:
columns_list = deathstats.columns.to_list()

In [92]:
new_list = []
for i in columns_list:
    i = str(i).replace(" Killed by Police (1/1/2013-12/31/2019)","")
    i = str(i).replace(" (if reported by agency)","")
    new_list.append(i)

In [93]:
deathstats.columns = new_list

In [94]:
deathstats.fillna(0,inplace=True)

In [95]:
new_list = new_list[3:]
for i in new_list:
    deathstats[i] = deathstats[i].apply(lambda x: str(x).replace(",",""))

In [96]:
for i in new_list:
    deathstats[i] = deathstats[i].apply(lambda x: int(round(float(x))))

In [98]:
deathstats.to_csv("Clean Death And Stats.csv")

In [103]:
deathstats.head()

,State,City,PD,Black People,Hispanic People,Native American People,Asian People,Pacific Islanders,White People,Unknown Race People,...,Violent crimes 2015,Violent crimes 2016,Violent crimes 2017,Violent crimes 2018,2013 Total Arrests (UCR Data),2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests
0,New Mexico,Albuquerque,Albuquerque Police Department,3,18,0,0,0,10,1,...,5406,6245,7686,7646,27700,25447,22126,20341,21130,22254
1,California,Anaheim,Anaheim Police Department,3,7,0,0,0,3,0,...,1271,1209,1253,1192,7891,8137,8381,9415,8869,10019
2,Alaska,Anchorage,Anchorage Police Department,1,1,2,0,0,5,4,...,3226,3422,3564,3824,17601,14748,14387,13294,13871,13973
3,Texas,Arlington,Arlington Police Department,7,1,0,1,0,4,1,...,1946,2188,0,1784,17258,16222,13989,11024,8397,9566
4,Georgia,Atlanta,Atlanta Police Department,13,0,0,0,0,1,1,...,5203,5121,4504,3814,30505,26958,0,22161,22581,0

# Clean Fatal Encounters

In [3]:
file = pd.read_csv("fatal_encounters_dot_org.csv")

In [14]:
file.fillna(0,inplace=True)

In [11]:
file.columns = ["Unique ID","Name","Age","Gender","Race","Race with Imputations","Imputation Probability","URL of Image of Deceased",\
"Date of Injury Resulting in Death","Address of Injury","City of Death","State of Death","Zip Code of Death",\
"County of Death","Full Address","Lat","Long","Agency Responsible of Death","Cause of Death",\
 "Description of Circumstance of Death","Dispositions/Exclusions (Internal Use Only)",\
"Link to news article or photo of official document","Symptoms of Mental Illness","Video","Date and Description",\
"Unique ID Formula","Unique Identifier","Year"]

In [27]:
file.drop(columns = ["Race with Imputations","Imputation Probability","URL of Image of Deceased",\
                    "Link to news article or photo of official document","Video","Date and Description",\
                     "Unique ID Formula","Unique Identifier"],inplace=True)

In [31]:
file["Zip Code of Death"] = file["Zip Code of Death"].apply(lambda x: int(x))

In [34]:
file.to_csv("Fatal_Encounters.csv")