In [2]:
import pandas as pd

# Clean Death and Stats

In [90]:
deathstats = pd.read_csv("deaths_and_stats.csv")

In [91]:
columns_list = deathstats.columns.to_list()

In [92]:
new_list = []
for i in columns_list:
    i = str(i).replace(" Killed by Police (1/1/2013-12/31/2019)","")
    i = str(i).replace(" (if reported by agency)","")
    new_list.append(i)

In [93]:
deathstats.columns = new_list

In [94]:
deathstats.fillna(0,inplace=True)

In [95]:
new_list = new_list[3:]
for i in new_list:
    deathstats[i] = deathstats[i].apply(lambda x: str(x).replace(",",""))

In [96]:
for i in new_list:
    deathstats[i] = deathstats[i].apply(lambda x: int(round(float(x))))

In [98]:
deathstats.to_csv("Clean Death And Stats.csv")

In [103]:
deathstats.head()

,State,City,PD,Black People,Hispanic People,Native American People,Asian People,Pacific Islanders,White People,Unknown Race People,...,Violent crimes 2015,Violent crimes 2016,Violent crimes 2017,Violent crimes 2018,2013 Total Arrests (UCR Data),2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests
0,New Mexico,Albuquerque,Albuquerque Police Department,3,18,0,0,0,10,1,...,5406,6245,7686,7646,27700,25447,22126,20341,21130,22254
1,California,Anaheim,Anaheim Police Department,3,7,0,0,0,3,0,...,1271,1209,1253,1192,7891,8137,8381,9415,8869,10019
2,Alaska,Anchorage,Anchorage Police Department,1,1,2,0,0,5,4,...,3226,3422,3564,3824,17601,14748,14387,13294,13871,13973
3,Texas,Arlington,Arlington Police Department,7,1,0,1,0,4,1,...,1946,2188,0,1784,17258,16222,13989,11024,8397,9566
4,Georgia,Atlanta,Atlanta Police Department,13,0,0,0,0,1,1,...,5203,5121,4504,3814,30505,26958,0,22161,22581,0

# Clean Fatal Encounters

In [3]:
file = pd.read_csv("fatal_encounters_dot_org.csv")

In [14]:
file.fillna(0,inplace=True)

In [11]:
file.columns = ["Unique ID","Name","Age","Gender","Race","Race with Imputations","Imputation Probability","URL of Image of Deceased",\
"Date of Injury Resulting in Death","Address of Injury","City of Death","State of Death","Zip Code of Death",\
"County of Death","Full Address","Lat","Long","Agency Responsible of Death","Cause of Death",\
 "Description of Circumstance of Death","Dispositions/Exclusions (Internal Use Only)",\
"Link to news article or photo of official document","Symptoms of Mental Illness","Video","Date and Description",\
"Unique ID Formula","Unique Identifier","Year"]

In [27]:
file.drop(columns = ["Race with Imputations","Imputation Probability","URL of Image of Deceased",\
                    "Link to news article or photo of official document","Video","Date and Description",\
                     "Unique ID Formula","Unique Identifier"],inplace=True)

In [31]:
file["Zip Code of Death"] = file["Zip Code of Death"].apply(lambda x: int(x))

In [34]:
file.to_csv("Fatal_Encounters.csv")

# Cleaning Police Contracts

In [49]:
file = pd.read_csv("police_contracts.csv")

In [50]:
file.drop(columns = "Unique identifier",inplace=True)

In [52]:
file.to_csv("Police Contracts.csv")

In [53]:
ls

Clean CSV Files/              police_deaths_538.csv
Cleaning CSV Files.ipynb      police_killings.csv
deaths_and_stats.csv          police_policies.csv
education_census_bureau.csv   poverty_census_bureau.csv
fatal_encounters_dot_org.csv  shootings_wash_post.csv
police_contracts.csv

# Cleaning Police Deaths

In [54]:
file = pd.read_csv("police_deaths_538.csv")

In [56]:
file.columns = ["Name","Department","EOW","Cause of Death","Short Cause of Death",\
               "Date","Year","Canine","Department Name","State"]

In [58]:
file["EOW"] = file["EOW"].apply(lambda x: str(x).replace("EOW: ",""))

In [60]:
file["Cause of Death"] = file["Cause of Death"].apply(lambda x: str(x).replace("Cause of Death: ",""))

In [64]:
true_test = (file["Cause of Death"] == file["Short Cause of Death"]).to_list()

In [66]:
file.drop(columns = "Short Cause of Death",inplace=True)

In [ ]:
file["Canine"].value_

In [67]:
file

,Name,Department,EOW,Cause of Death,Date,Year,Canine,Department Name,State
0,Constable Darius Quimby,"Albany County Constable's Office, NY","Monday, January 3, 1791",Gunfire,1791-01-03,1791,False,Albany County Constable's Office,NY
1,Sheriff Cornelius Hogeboom,"Columbia County Sheriff's Office, NY","Saturday, October 22, 1791",Gunfire,1791-10-22,1791,False,Columbia County Sheriff's Office,NY
2,Deputy Sheriff Isaac Smith,"Westchester County Sheriff's Department, NY","Thursday, May 17, 1792",Gunfire,1792-05-17,1792,False,Westchester County Sheriff's Department,NY
3,Marshal Robert Forsyth,United States Department of Justice - United S...,"Saturday, January 11, 1794",Gunfire,1794-01-11,1794,False,United States Department of Justice - United S...,US
4,Sheriff Robert Maxwell,"Greenville County Sheriff's Office, SC","Sunday, November 12, 1797",Gunfire,1797-11-12,1797,False,Greenville County Sheriff's Office,SC
...,...,...,...,...,...,...,...,...,...
22795,K9 Bruno,"Amarillo Police Department, TX","Sunday, June 12, 2016",Accidental,2016-06-12,2016,True,Amarillo Police Department,TX
22796,K9 Lazer,United States Department of Homeland Security ...,"Monday, June 20, 2016",Heat exhaustion,2016-06-20,2016,True,United States Department of Homeland Security ...,US
22797,K9 Tyson,"Fountain County Sheriff's Office, IN","Monday, June 27, 2016",Heat exhaustion,2016-06-27,2016,True,Fountain County Sheriff's Office,IN
22798,K9 Credo,"Long Beach Police Department, CA","Tuesday, June 28, 2016",Gunfire (Accidental),2016-06-28,2016,True,Long Beach Police Department,CA
22799,K9 Roscoe,"Emmett Police Department, ID","Friday, July 1, 2016",Automobile accident,2016-07-01,2016,True,Emmett Police Department,ID