In [2]:
import pandas as pd

# Clean Death and Stats

In [90]:
deathstats = pd.read_csv("deaths_and_stats.csv")

In [91]:
columns_list = deathstats.columns.to_list()

In [92]:
new_list = []
for i in columns_list:
    i = str(i).replace(" Killed by Police (1/1/2013-12/31/2019)","")
    i = str(i).replace(" (if reported by agency)","")
    new_list.append(i)

In [93]:
deathstats.columns = new_list

In [94]:
deathstats.fillna(0,inplace=True)

In [95]:
new_list = new_list[3:]
for i in new_list:
    deathstats[i] = deathstats[i].apply(lambda x: str(x).replace(",",""))

In [96]:
for i in new_list:
    deathstats[i] = deathstats[i].apply(lambda x: int(round(float(x))))

In [98]:
deathstats.to_csv("Clean Death And Stats.csv")

In [103]:
deathstats.head()

,State,City,PD,Black People,Hispanic People,Native American People,Asian People,Pacific Islanders,White People,Unknown Race People,...,Violent crimes 2015,Violent crimes 2016,Violent crimes 2017,Violent crimes 2018,2013 Total Arrests (UCR Data),2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests
0,New Mexico,Albuquerque,Albuquerque Police Department,3,18,0,0,0,10,1,...,5406,6245,7686,7646,27700,25447,22126,20341,21130,22254
1,California,Anaheim,Anaheim Police Department,3,7,0,0,0,3,0,...,1271,1209,1253,1192,7891,8137,8381,9415,8869,10019
2,Alaska,Anchorage,Anchorage Police Department,1,1,2,0,0,5,4,...,3226,3422,3564,3824,17601,14748,14387,13294,13871,13973
3,Texas,Arlington,Arlington Police Department,7,1,0,1,0,4,1,...,1946,2188,0,1784,17258,16222,13989,11024,8397,9566
4,Georgia,Atlanta,Atlanta Police Department,13,0,0,0,0,1,1,...,5203,5121,4504,3814,30505,26958,0,22161,22581,0

# Clean Fatal Encounters

In [3]:
file = pd.read_csv("fatal_encounters_dot_org.csv")

In [14]:
file.fillna(0,inplace=True)

In [11]:
file.columns = ["Unique ID","Name","Age","Gender","Race","Race with Imputations","Imputation Probability","URL of Image of Deceased",\
"Date of Injury Resulting in Death","Address of Injury","City of Death","State of Death","Zip Code of Death",\
"County of Death","Full Address","Lat","Long","Agency Responsible of Death","Cause of Death",\
 "Description of Circumstance of Death","Dispositions/Exclusions (Internal Use Only)",\
"Link to news article or photo of official document","Symptoms of Mental Illness","Video","Date and Description",\
"Unique ID Formula","Unique Identifier","Year"]

In [27]:
file.drop(columns = ["Race with Imputations","Imputation Probability","URL of Image of Deceased",\
                    "Link to news article or photo of official document","Video","Date and Description",\
                     "Unique ID Formula","Unique Identifier"],inplace=True)

In [31]:
file["Zip Code of Death"] = file["Zip Code of Death"].apply(lambda x: int(x))

In [34]:
file.to_csv("Fatal_Encounters.csv")

# Cleaning Police Contracts

In [49]:
file = pd.read_csv("police_contracts.csv")

In [50]:
file.drop(columns = "Unique identifier",inplace=True)

In [52]:
file.to_csv("Police Contracts.csv")

In [53]:
ls

Clean CSV Files/              police_deaths_538.csv
Cleaning CSV Files.ipynb      police_killings.csv
deaths_and_stats.csv          police_policies.csv
education_census_bureau.csv   poverty_census_bureau.csv
fatal_encounters_dot_org.csv  shootings_wash_post.csv
police_contracts.csv

# Cleaning Police Deaths

In [54]:
file = pd.read_csv("police_deaths_538.csv")

In [56]:
file.columns = ["Name","Department","EOW","Cause of Death","Short Cause of Death",\
               "Date","Year","Canine","Department Name","State"]

In [58]:
file["EOW"] = file["EOW"].apply(lambda x: str(x).replace("EOW: ",""))

In [60]:
file["Cause of Death"] = file["Cause of Death"].apply(lambda x: str(x).replace("Cause of Death: ",""))

In [64]:
true_test = (file["Cause of Death"] == file["Short Cause of Death"]).to_list()

In [66]:
file.drop(columns = "Short Cause of Death",inplace=True)

In [69]:
file.to_csv("Clean CSV Files/Police Deaths.csv")

# Cleaning Police Killings

In [71]:
file = pd.read_csv("police_killings.csv")

In [75]:
column_list = file.columns.to_list()

In [76]:
j = 0;
index_list = [];
for i in column_list:
    index_list.append((i,j))
    j += 1;

In [77]:
index_list

[("Victim's name", 0),
 ("Victim's age", 1),
 ("Victim's gender", 2),
 ("Victim's race", 3),
 ('URL of image of victim', 4),
 ('Date of Incident (month/day/year)', 5),
 ('Street Address of Incident', 6),
 ('City', 7),
 ('State', 8),
 ('Zipcode', 9),
 ('County', 10),
 ('Agency responsible for death', 11),
 ('Cause of death', 12),
 ('A brief description of the circumstances surrounding the death', 13),
 ('Official disposition of death (justified or other)', 14),
 ('Criminal Charges?', 15),
 ('Link to news article or photo of official document', 16),
 ('Symptoms of mental illness?', 17),
 ('Unarmed', 18),
 ('Alleged Weapon (Source: WaPo)', 19),
 ('Alleged Threat Level (Source: WaPo)', 20),
 ('Fleeing (Source: WaPo)', 21),
 ('Body Camera (Source: WaPo)', 22),
 ('WaPo ID (If included in WaPo database)', 23),
 ('Off-Duty Killing?', 24),
 ('Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
  25),
 ('ID', 26),
 ('Unnamed: 27', 27),
 ('Unnamed: 28', 28),
 ('Unnamed: 29', 29),
 ('Unnamed: 30', 30),
 ('Unnamed: 31', 31),
 ('Unnamed: 32', 32),
 ('Unnamed: 33', 33),
 ('Unnamed: 34', 34),
 ('Unnamed: 35', 35),
 ('Unnamed: 36', 36),
 ('Unnamed: 37', 37),
 ('Unnamed: 38', 38),
 ('Unnamed: 39', 39),
 ('Unnamed: 40', 40),
 ('Unnamed: 41', 41),
 ('Unnamed: 42', 42),
 ('Unnamed: 43', 43),
 ('Unnamed: 44', 44),
 ('Unnamed: 45', 45),
 ('Unnamed: 46', 46),
 ('Unnamed: 47', 47),
 ('Unnamed: 48', 48),
 ('Unnamed: 49', 49),
 ('Unnamed: 50', 50),
 ('Unnamed: 51', 51),
 ('Unnamed: 52', 52),
 ('Unnamed: 53', 53),
 ('Unnamed: 54', 54),
 ('Unnamed: 55', 55),
 ('Unnamed: 56', 56),
 ('Unnamed: 57', 57),
 ('Unnamed: 58', 58),
 ('Unnamed: 59', 59),
 ('Unnamed: 60', 60),
 ('Unnamed: 61', 61),
 ('Unnamed: 62', 62),
 ('Unnamed: 63', 63),
 ('Unnamed: 64', 64),
 ('Unnamed: 65', 65)]

In [79]:
file = file.iloc[:,:27]

In [83]:
file.columns = ["Name","Age","Gender","Race","URL","Date of incident","Address of Incident","City","State",\
               "Zipcode","County","Agency Responsible for Death","Cause of Death",\
                "Description of Circumstance Surrounding the Death","Official Disposition of Death"\
               ,"Criminal Charges?","Link","Symptoms of Mental Illness","Unarmed","Alleged Weapon",\
                "Alleged Threat Level","Fleeing","Body Camera","WaPo ID","Off-Duty Killing","Geo","ID"]

In [85]:
file.drop(columns = ["URL","Link","Geo"],inplace=True)

In [87]:
file.fillna("",inplace=True)

In [89]:
file.columns

Index(['Name', 'Age', 'Gender', 'Race', 'Date of incident',
       'Address of Incident', 'City', 'State', 'Zipcode', 'County',
       'Agency Responsible for Death', 'Cause of Death',
       'Description of Circumstance Surrounding the Death',
       'Official Disposition of Death', 'Criminal Charges?',
       'Symptoms of Mental Illness', 'Unarmed', 'Alleged Weapon',
       'Alleged Threat Level', 'Fleeing', 'Body Camera', 'WaPo ID',
       'Off-Duty Killing', 'ID'],
      dtype='object')

In [88]:
file.head()

,Name,Age,Gender,Race,Date of incident,Address of Incident,City,State,Zipcode,County,...,Criminal Charges?,Symptoms of Mental Illness,Unarmed,Alleged Weapon,Alleged Threat Level,Fleeing,Body Camera,WaPo ID,Off-Duty Killing,ID
0,Eric M. Tellez,28,Male,White,31/12/2019,Broad St.,Globe,AZ,85501,Gila,...,No known charges,No,Allegedly Armed,knife,other,not fleeing,no,5332,,7664
1,Name withheld by police,,Male,Unknown race,31/12/2019,7239-7411 I-40,Memphis,AR,38103,Crittenden,...,No known charges,No,Unclear,unclear,other,,,,,7665
2,Terry Hudson,57,Male,Black,31/12/2019,3600 N 24th St,Omaha,NE,68110,Douglas,...,No known charges,No,Allegedly Armed,gun,attack,not fleeing,no,5359,,7661
3,Malik Williams,23,Male,Black,31/12/2019,30800 14th Avenue South,Federal Way,WA,98003,King,...,No known charges,No,Allegedly Armed,gun,attack,not fleeing,no,5358,,7662
4,Frederick Perkins,37,Male,Black,31/12/2019,17057 N Outer 40 Rd,Chesterfield,MO,63005,St. Louis,...,No known charges,No,Vehicle,vehicle,attack,car,no,5333,,7667